section #home {
  height: 1520px; }
  section #home #img-container {
    position: absolute;
    margin-top: 350px;
    height: 797px;
    width: 100%;
    overflow: hidden; }
    section #home #img-container .leaf {
      width: 1128px;
      height: 100%;
      margin-left: -350px; }
  section #home #hi {
    height: 800px;
    background-color: #255A44; }
    section #home #hi .greeting {
      margin-top: 100px;
      text-align: left;
      font: normal normal normal 55px/60px Playfair Display;
      letter-spacing: 0px;
      color: #FBFBFB; }
    section #home #hi .profession {
      margin-top: 20px;
      text-align: left;
      font: normal normal normal 20px/25px Playfair Display;
      letter-spacing: 0px;
      color: #CCC49A; }
    section #home #hi .about_title {
      margin-top: 30px;
      text-align: left;
      font: normal normal 500 42px/64px Playfair Display;
      letter-spacing: 0px;
      color: #FBFBFB; }
    section #home #hi .about_text {
      text-align: left;
      font: normal normal 300 15px/20px Raleway;
      letter-spacing: 0px;
      color: #FBFBFB;
      max-width: 271.5px; }
  section #home #phrase {
    height: 720px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center; }
    section #home #phrase .quotes {
      background-image: url("/assets/images/quotes.svg");
      background-repeat: no-repeat;
      width: 154px;
      height: 122px;
      margin-top: 180px; }
    section #home #phrase .phrase__text {
      text-align: left;
      font: normal normal normal 30px/30px Playfair Display;
      letter-spacing: 0px;
      color: #000000;
      text-align: center;
      margin-top: 80px;
      max-width: 600px; }
    section #home #phrase .phrase__author {
      text-align: left;
      font: normal normal normal 20px/21px Playfair Display;
      letter-spacing: 0px;
      color: #000000;
      margin-top: 20px; }

@media screen and (min-width: 576px) {
  section #home #img-container {
    margin-top: 270px; }
    section #home #img-container .leaf {
      margin-left: 0;
      float: right; }
  section #home #hi .greeting {
    margin-top: 120px;
    font: normal normal normal 85px/75px Playfair Display; }
  section #home #hi .about_title {
    margin-top: 190px; } }

@media screen and (min-width: 768px) {
  section #home #hi {
    padding-left: 60px; } }

html {
  scroll-behavior: smooth; }
  html body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden; }

header nav {
  background-color: whitesmoke; }

section article {
  width: 100%; }

section #experience {
  height: 978px;
  background-color: blue; }

section #education {
  height: 978px;
  background-color: red; }

section #skills {
  height: 978px;
  background-color: yellow; }

section #portfolio {
  height: 978px;
  background-color: green; }

section #contact {
  height: 978px;
  background-color: purple; }

.fixed-top,
.fixed-bottom,
.static-top {
  margin-right: -8px;
  margin-left: -8px; }
