@import "home";
@import "experience";

html {
    scroll-behavior: smooth;

    body {
        width: 100vw;
        min-height: 100vh;

        overflow-x: hidden;
    }
}

header {
    nav {
        background-color: whitesmoke;
    }
}

section {
    article {
        width: 100%;
    }

    

    #education {
        height: 978px;
        background-color: red;
    }

    #skills {
        height: 978px;
        background-color: yellow;
    }

    #portfolio {
        height: 978px;
        background-color: green;
    }

    #contact {
        height: 978px;
        background-color: purple;
    }
}

// Following properties are used for fix header margins and overflow
.fixed-top,
.fixed-bottom,
.static-top {
    margin-right: -8px;
    margin-left: -8px;
}
