@import "home";
@import "experience";
@import "education";
@import "skills";
@import "portfolio";
@import "contact";

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

    body {
        width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;

    }
}

header {
    nav {
        background-color: whitesmoke;
        font-family: Playfair Display;
    }
}

section {
    article {
        width: 100%;
    }
}
